<!DOCTYPE html>
<html>
<head>
	<title>Page</title>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="style.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="js/howler.min.js"></script>
</head>
<body>
{{yield}}
</body>
</html>