    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
	<br/>
	<br/>
	<h1>Cen$@r! it</h1>
	<section>
		<div id="player"></div>
		<br/>
		<div id="bttns">
            <!--<input id="youtube" />
            <button id="submit">search</button>
			<br/>
			<br/>-->
			<button id="mutebtn" type="button" class="btn btn-danger">CENSOR</button>
			<button id="mutebtn" type="button" class="btn btn-danger">COMEDY MODE</button>
		</div>
		<div id="sonuc"></div>
	</section>	
	<script src="js/javascript.js"></script>